PORT="3001"
PHOENIX_COLLECTOR_ENDPOINT="http://phoenix:4317"
RELOAD="false"
OLLAMA_BASE_URL="http://localhost:11434"

# PG_Vector related
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_NAME="project_db"
DB_PORT="5432"
DB_HOST="localhost"

